<ul  class="nav justify-content-center">
  <li class="btn btn-primary" 
  [style]="getAllCategoryClass()" style="color:black"
   routerLink="/cars">Kiralik Arabalar</li>

  <li  (click)="setCurrentCategory(category)"
  routerLink="/cars/category/{{category.id}}"
   *ngFor="let category of categories"  class="btn btn-primary"
    [style]="getCurrentCategoryClass(category)" style="color:black">{{category.description}} Arabalar
  </li>

</ul>

<h6 *ngIf="currentCategory">{{currentCategory.description}}</h6>